body {
  display: flex;
  margin: 0;
}

nav {
  width: 20%;
  background-color: rgb(39, 100, 212);
  position: fixed;
  margin-left: 0;
  transition: 0.4s;
  height: 100vh;
}

section {
  width: 80%;
  margin-left: 300px;
}

.active-nav {
  margin-left: -300px;
}

.active-cont {
  margin-left: 0;
}
